body {
  text-align:center;
  background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#length {
  width:300px;
  height:25px;
}
#calculate{
  height:25px;
  width:100px;
  font-size:17px;
  font-family: 'Itim', cursive;
  
}
#labelArea {
  font-size:20px;
  font-family: 'Itim', cursive;
}
#labelPerimeter {
  font-size:20px;
  font-family: 'Itim', cursive;
}
h1 { 
font-family: 'Luckiest Guy', cursive;
  font-size :40px;
}



